<a href="https://colab.research.google.com/github/Tzvi-H/jigsaw-labs/blob/main/02-05-23/4-refactor-functions-challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Refactor with Functions Challenges

### Introduction

Let's take the code from our previous movies lab, and see if we can make our code more flexible with functions.

### Function Changes

> Load the data by pressing `shift + return` below.

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/eng-6-22/mod-1-a-data-structures/master/4-functions/imdb_movies.csv"
df = pd.read_csv(url)
movies = df.to_dict('records')

1. `movies_since`

In [3]:
df.head(n=2)

,title,genre,budget,runtime,year,month,revenue
0,Avatar,Action,237000000,162.0,2009,12,2787965087
1,Pirates of the Caribbean: At World's End,Adventure,300000000,169.0,2007,5,961000000

Write a method called `movies_since` that will return only the movies after a certain year.

In [8]:
len([movie for movie in movies if movie['year'] >= 2015])

129

In [9]:
def movies_since(movies, year):
  return [movie for movie in movies if movie['year'] >= year]
len(movies_since(movies, 2015))

129

2. `find_by`

In the last lesson, we also had a `find_by_genre` method. 

```python

def find_by_genre(movies, genre_name):
    genre_name = genre_name.title()
    return [movie for movie in movies 
    if movie['genre'] == genre_name]
```

Let's say that we wanted the ability to return movies with matching year, genre, or title, etc.  Change the function to so that we return movies where checks if any attribute matches.

In [12]:
def find_by(movies, category, value):
    return [movie for movie in movies if movie[category] == value]

len(find_by(movies, 'year', 2016))

45

3. Rewrite `find_by_genre` 

Now use the `find_by` method to rewrite the `find_by_genre` method.  The `find_by_genre` method should be case insensitive.

In [13]:
def find_by_genre(movies, genre):
  genre_name = genre.title()
  return find_by(movies, 'genre', genre_name)

4. `top` function

In the previous lesson, we wrote code to select the top 100 movies by revenue.

In [14]:
top_100_revenue = sorted(movies,
       key = lambda movie: movie['revenue'],
       reverse = True)[:100]

Write a method called `top` that: 
1. Returns the top 100 movies by any category
    * For example, it should work for budget as well
2. Limits to the top 100 as the default, but allows for specifying any limit.
3. Has an argument `desc` that by default is `True` and sorts from top to bottom.

In [25]:
def top(movies, category, limit=100, desc=True):
  return sorted(movies, key = lambda movie: movie[category], reverse=desc)[:limit]
top(movies, 'revenue', limit=2, desc=False)

[{'title': 'The Lovers',
  'genre': 'Action',
  'budget': 27000000,
  'runtime': 109.0,
  'year': 2015,
  'month': 2,
  'revenue': 0},
 {'title': 'The Wolfman',
  'genre': 'Drama',
  'budget': 150000000,
  'runtime': 102.0,
  'year': 2010,
  'month': 2,
  'revenue': 0}]

5. `movies_from`

What if we wanted a method that could allow us to find movies only before a year, or only after a year, or both.

In [38]:
def movies_from(movies, year_from=float('-inf'), year_end=float('inf')):
    return [movie for movie in movies if year_from <= movie['year'] <= year_end ]
movies_from(movies, year_from = 2017)

[]

Then write the code to check your work below.

### Summary

In this lesson, we practiced making our code more flexible with functions.  Notice that to do so, we identified the values that we're hard coded and turned them into arguments.  This made our hard-coded values, and thus the functionality of our code, more flexible.