<a href="https://colab.research.google.com/github/Tzvi-H/jigsaw-labs/blob/main/02-23-23/practice-career.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Career Scraper Lab

### Introduction

In this lesson, we'll work with data collected from a scraper that pulls data from Indeed.com.  The goal of this scraper was to find more information about data engineering positions, and tech positions in general.  

We can use the data to determine what skills are needed by data engineers, the kinds of companies hiring data engineers, and where they are being hired.

### Connecting to our database

We can begin by using the psycopg2 library.  This library is already installed on a google colab (so no need to install it).  If we would like to install it on our own computer, we can do so with the following:

In [167]:
# pip install psycopg2-binary

Then we should be able to import the library.  We can then use this library to connect to a postgres database -- one that exists on Jigsaw's amazon account.

In [168]:
import psycopg2

In [169]:
DB_NAME="careers"
DB_HOST="career-scraper.crd5vw1vref2.us-east-1.rds.amazonaws.com"
DB_USER="student"
DB_PASSWORD="jigsaw_student"

In [170]:
import psycopg2
db_url = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/careers"
conn = psycopg2.connect(db_url)

In [171]:
db_url

'postgresql://student:jigsaw_student@career-scraper.crd5vw1vref2.us-east-1.rds.amazonaws.com/careers'

In [172]:
cursor = conn.cursor()

And from here, we can see all of the tables listed.

In [173]:
cursor.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")
tables = []
for table in cursor.fetchall():
    tables.append(table[0])
tables[1:]

['states',
 'cities',
 'scrapings',
 'scraped_pages',
 'cards',
 'companies',
 'position_locations',
 'position_skills',
 'skills',
 'positions',
 'job_titles']

So there are a number of tables listed, but we can ignore the `scrapings`, `scraped_pages`, and `cards` tables.  This leaves us with the following relevant tables.

In [174]:
relevant_tables = ['states', 'cities', 'companies',
 'position_locations', 'position_skills', 'skills', 'positions',
 'job_titles']

And we can see the columns of each of these tables with the following:

In [175]:
for relevant_table in relevant_tables:
    cursor.execute(f"Select * FROM {relevant_table} LIMIT 0")
    print(relevant_table, [desc[0] for desc in cursor.description])

states ['id', 'name', 'timestamp']
cities ['id', 'name', 'state_id', 'timestamp']
companies ['id', 'name', 'timestamp']
position_locations ['id', 'position_id', 'city_id', 'state_id', 'is_remote', 'timestamp']
position_skills ['id', 'position_id', 'skill_id']
skills ['id', 'name', 'timestamp']
positions ['id', 'source_id', 'card_id', 'title', 'description', 'minimum_salary', 'maximum_salary', 'minimum_experience', 'maximum_experience', 'company_id', 'timestamp', 'date_posted', 'query_string', 'job_title_id']
job_titles ['id', 'name', 'timestamp']

Begin by looking at the columns in the tables.  At this point, it's worth diagramming the structure of these tables.  Look at the foreign keys to determine how these tables relate to one another -- specify the relations.

* Which tables do you think we will be relying on the most?

### Answering Questions

> Hint: Before diving into the questions below, it may be useful to explore the data a little, and ask some questions of the data.

#### Assessing the data

Now this scraper does not have data on all of the jobs in the US, so it's good to start by getting a sense of the data.  What type of data does it hae most?  

* For example, what `job_titles` appear most frequently in the database?

Then ask similar questions to see what type of data has been collected.

> **Hint**: Think about dimensions in the data (who, what, where, when)?

### Diving into data engineers

* What are top skills required of data engineers (limit to the top 10 results)?

In [176]:
cursor.execute('''
select skills.name, count(*)
from position_skills
join skills on skills.id = position_skills.skill_id
group by skills.name
order by count(*) desc
limit 10
''')
cursor.fetchall()
# name	amount
# 0	business	790
# 1	engineering	712
# 2	support	683
# 3	design	654
# 4	sql	624
# 5	python	555
# 6	software	538
# 7	analytics	489
# 8	computer science	448
# 9	communication	443

[('business', 3090),
 ('engineering', 2848),
 ('support', 2727),
 ('design', 2532),
 ('software', 2388),
 ('communication', 2072),
 ('machine learning', 1985),
 ('analytics', 1965),
 ('python', 1897),
 ('computer science', 1763)]

### Choosing a Career

* Now perhaps we want to use this database to help us choose a specific profession.  What are some questions we can ask...

We can ask questions about: 

* What is the average minimum salary of a data engineer?

In [177]:
cursor.execute('''
select avg(minimum_salary)
from positions
''')
cursor.fetchall()
# avg_salary
# 0	78606.050898

[(Decimal('84966.356211393274'),)]

* What are the average minimum salaries by job title, order from most to least

In [178]:
cursor.execute('''
select job_titles.name, avg(positions.minimum_salary) as avg_salary
from positions 
join job_titles on positions.job_title_id = job_titles.id
group by job_titles.name
order by avg_salary desc
''')
cursor.fetchall()
# name	avg_salary
# 0	machine learning engineer	104419.226190
# 1	data scientist	88704.466981
# 2	data engineer	78606.050898

[('machine learning engineer', Decimal('104419.226190476190')),
 ('data scientist', Decimal('88704.466981132075')),
 ('data engineer', Decimal('78606.050898203593'))]

* What are positions that appear the most in new york.

In [179]:
cursor.execute('''
select job_titles.name, count(*) as count
from positions
join position_locations on position_locations.position_id = positions.id
join cities on cities.id = position_locations.city_id
join job_titles on job_titles.id = positions.job_title_id
where cities.name = 'New York'
group by job_titles.name
order by count desc
''')
cursor.fetchall()

# name	count
# 0	data engineer	38
# 1	data scientist	27
# 2	machine learning engineer	23

[('data engineer', 38),
 ('data scientist', 27),
 ('machine learning engineer', 23)]

* Order the cities from most to least by average salary for data engineers, and only include those cities where there are at least 10 positions, and do not include any positions where there is not a listed minimum salary.

In [180]:
cursor.execute('''
select cities.name, avg((maximum_salary + minimum_salary) / 2) as avg_salary, count(*)
from cities join position_locations on cities.id = position_locations.city_id
join positions on positions.id = position_locations.position_id
join job_titles on job_titles.id = positions.job_title_id
where minimum_salary is not null and job_titles.name = 'data engineer'
group by cities.name
having count(*) >= 10
order by avg_salary desc
''')
cursor.fetchall()

# name	avg_salary	num_positions
# 0	Remote In San Francisco	124056.565217	23
# 1	Remote In New York	121450.000000	28
# 2	New York	113408.000000	25
# 3	Denver	99855.555556	18
# 4	San Diego	90680.000000	12

[('Remote In San Francisco', Decimal('134763.461538461538'), 13),
 ('Remote In New York', Decimal('133226.923076923077'), 13),
 ('New York', Decimal('123980.769230769231'), 13),
 ('Denver', Decimal('108565.090909090909'), 11),
 ('Austin', Decimal('97078.200000000000'), 10),
 ('NA', Decimal('86666.168750000000'), 160),
 ('remote', Decimal('71768.485436893204'), 103)]

* Find the average minimum years of experience required by position, order from fewest years required to most.

In [181]:
cursor.execute('''
select job_titles.name, avg(minimum_experience) as avg_experience
from job_titles
join positions on positions.job_title_id = job_titles.id
group by job_titles.name
order by avg_experience
''')
cursor.fetchall()

# name	avg_experience
# 0	data engineer	2.744042
# 1	machine learning engineer	3.135922
# 2	data scientist	3.217742

[('data engineer', Decimal('2.7440423654015887')),
 ('machine learning engineer', Decimal('3.1359223300970874')),
 ('data scientist', Decimal('3.2177419354838710'))]

### Choosing a skillset

Of course, we also may want to determine what skills are most valuable to learn. 
We could ask questions about:

* What are the top skills requested in the dataset?

In [182]:
cursor.execute('''
select skills.name, count(*) as amount
from skills
join position_skills on position_skills.skill_id = skills.id
group by skills.name
order by amount desc
limit 10
''')
cursor.fetchall()

# name	amount
# 0	business	1662
# 1	engineering	1547
# 2	support	1422
# 3	design	1385
# 4	software	1293
# 5	python	1191
# 6	analytics	1068
# 7	communication	1057
# 8	sql	1022
# 9	computer science	1022

[('business', 3090),
 ('engineering', 2848),
 ('support', 2727),
 ('design', 2532),
 ('software', 2388),
 ('communication', 2072),
 ('machine learning', 1985),
 ('analytics', 1965),
 ('python', 1897),
 ('computer science', 1763)]

* Which skills are most associated with jobs requiring 2 or fewer years of minimum experience?

In [184]:
cursor.execute('''
select skills.name, count(*) as amount
from skills
join position_skills on position_skills.skill_id = skills.id
join positions on positions.id = position_skills.position_id
where positions.minimum_experience <= 2
group by skills.name
order by amount desc
limit 10
''')
cursor.fetchall()

# name	amount
# 0	engineering	585
# 1	business	581
# 2	support	525
# 3	design	508
# 4	python	481
# 5	software	459
# 6	sql	415
# 7	analytics	395
# 8	communication	395
# 9	computer science	389

[('business', 1005),
 ('engineering', 956),
 ('support', 920),
 ('design', 833),
 ('software', 770),
 ('python', 708),
 ('communication', 706),
 ('analytics', 663),
 ('machine learning', 654),
 ('computer science', 624)]

* Which skills are most associated with a minimum salary over 160k?

In [186]:
cursor.execute('''
select skills.name, count(*) as amount
from skills
join position_skills on position_skills.skill_id = skills.id
join positions on positions.id = position_skills.position_id
where minimum_salary > 160000
group by skills.name
order by amount desc
limit 10
''')
cursor.fetchall()

# name	amount
# 0	machine learning	18
# 1	engineering	17
# 2	software	16
# 3	design	14
# 4	analytics	11
# 5	support	11
# 6	computer science	11
# 7	communication	10
# 8	business	10
# 9	python	8

[('engineering', 23),
 ('software', 22),
 ('machine learning', 21),
 ('design', 18),
 ('support', 15),
 ('computer science', 14),
 ('business', 13),
 ('python', 12),
 ('analytics', 11),
 ('testing', 11)]

* Does demand for skillset differ based on region?  Or based on position?