<a href="https://colab.research.google.com/github/Tzvi-H/jigsaw-labs/blob/main/02-02_5-coercing-strings/0-review-questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Review Questions

### Function Warmup

Write a function that takes in a person's name and capitalizes it.

In [2]:
def capitalize_name(name):
    return name.capitalize()

In [3]:
capitalize_name('bob')
# 'Bob'

'Bob'

In [4]:
capitalize_name('fred')
# 'Fred'

'Fred'

* Write a function that takes two numbers and divides them

In [7]:
def divide(first_number, second_number=1):
    return first_number / second_number

In [11]:
divide(6, 2)
# 3.0

3.0

* Use keyword arguments so that we can write 2, and then 6, yet still get 3.

In [9]:
divide(second_number=2, first_number=6)
# 3

3.0

Now change the function `divide` so that when `second_number` is not defined, we divide by one.

In [10]:
divide(6)
# 6

6.0

### Loops Warmup

In [17]:
parks = ['bryant', 'central', 'battery']

* Loop through each of the parks and print a capitalized version of each park

In [19]:
for park in parks:
  print(park.capitalize())
# Bryant
# Central
# Battery

Bryant
Central
Battery

* Next, use loops to create a list of the `capitalized_parks` where each park is capitalized.

In [20]:
capitalized_parks = [park.capitalize() for park in parks]

In [21]:
capitalized_parks
# ['Bryant', 'Central', 'Battery']

['Bryant', 'Central', 'Battery']

* Working with lists of dictionaries

In [22]:
detailed_parks = [
    {'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6},
    {'name': 'Central Park', 'location': 'Uptown', 'acres': 840},
    {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
    {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30}
]

* Loop through the parks and add the location of each park to a list called `park_locations`

In [24]:
park_locations = [park['location'] for park in detailed_parks]

park_locations

# ['Midtown', 'Uptown', 'Downtown', 'Morningside']

['Midtown', 'Uptown', 'Downtown', 'Morningside']

* Then use list comprehension to create a list of park names.

In [26]:
park_names = [park['name'] for park in detailed_parks]
park_names


# ['Bryant Park', 'Central Park', 'Battery Park', 'Morningside Park']

['Bryant Park', 'Central Park', 'Battery Park', 'Morningside Park']

* Loop through each of the parks, and only add the parks that are strictly less than 30 acres.  Assign them to the list, smaller parks.

In [29]:
smaller_parks = [park for park in detailed_parks if park['acres'] < 30]

smaller_parks 
# [
# {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
# {'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6} 
# ]

[{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6},
 {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25}]

* Write a function that allows you to specify provide the size of a park to select.

In [30]:
def parks_less_than(parks, size):
    return [park for park in parks if park['acres'] < size]

In [31]:
parks_less_than(detailed_parks, 10)
# [{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6}]

[{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6}]

In [32]:
parks_less_than(detailed_parks, 50)
# [{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6},
#  {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
#  {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30}]

[{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6},
 {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
 {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30}]

Now write a function that only returns the names of a park smaller than a specified size.

In [33]:
def park_name_less_than(parks, size):
    return [park['name'] for park in parks if park['acres'] < size]

In [34]:
park_name_less_than(detailed_parks, 10)
# ['Bryant Park']

['Bryant Park']

In [35]:
park_name_less_than(detailed_parks, 50)
# ['Bryant Park', 'Battery Park', 'Morningside Park']

['Bryant Park', 'Battery Park', 'Morningside Park']