<a href="https://colab.research.google.com/github/Tzvi-H/jigsaw-labs/blob/main/02-19-23/5-has-many-through-bar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Moe's Bar Lab

### Introduction

In this lesson, we'll apply our knowledge of querying tables with has many through to ask questions of customers and bartenders at a bar.

### Loading Our Data

Then we can connect to our database with the following.

In [1]:
import sqlite3
conn = sqlite3.connect('./moes_bar.db')
cursor = conn.cursor()

Next we load our data.

In [2]:
import pandas as pd
root_url = "https://raw.githubusercontent.com/jigsawlabs-student/curriculum-images/main/has-many-through-bar/data/"
names = ['bartenders', 'customers', 'drinks', 'orders', 'ingredients', 'ingredients_drinks']
loaded_dfs = [pd.read_csv(f'{root_url}{name}.csv') for name in names]

In [3]:
for index, name in enumerate(names):
    loaded_dfs[index].to_sql(f'{name}', conn, index = False)

In [4]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('bartenders',),
 ('customers',),
 ('drinks',),
 ('orders',),
 ('ingredients',),
 ('ingredients_drinks',)]

### Exploring our Database

Now we list of all of the tables with the following.

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('bartenders',),
 ('customers',),
 ('drinks',),
 ('orders',),
 ('ingredients',),
 ('ingredients_drinks',)]

And then we can see the details of a particular table with the following.

In [6]:
cursor.execute("pragma table_info(customers)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'hometown', 'TEXT', 0, None, 0),
 (3, 'birthyear', 'INTEGER', 0, None, 0)]

### Making our queries

* Find the name of the youngest customer

In [7]:
youngest_customer = """
select name , birthyear
from customers
order by birthyear
limit 1
"""

cursor.execute(youngest_customer)
cursor.fetchall()
# # [('lisa simpson', 2006)]

[('lisa simpson', 2006)]

* Order the drinks from most to least expensive

In [8]:
cheapest_drinks = """
select name, price
from drinks
order by price desc
"""

cursor.execute(cheapest_drinks)
cursor.fetchall()
# [('ice cream float', 8),
#  ('duff beer', 7),
#  ('gin and tonic', 7),
#  ('rootbeer', 6),
#  ('milkshake', 5),
#  ('egg cream soda', 3)]

[('ice cream float', 8),
 ('duff beer', 7),
 ('gin and tonic', 7),
 ('rootbeer', 6),
 ('milkshake', 5),
 ('egg cream soda', 3)]

* Find the most expensive drink that bart simpson ordered

In [17]:
barts_orders = """
select drinks.name, drinks.price
from orders
join customers on orders.customer_id = customers.id
join drinks on orders.drink_id = drinks.id
where customers.name = 'bart simpson'
order by drinks.price desc
limit 1
"""

cursor.execute(barts_orders)
cursor.fetchall()
# [('milkshake', 5)]

[('milkshake', 5)]

* Find a list of all of the customers of moe

In [20]:
moes_customers = """
select distinct customers.name
from orders
join customers on orders.customer_id = customers.id
join bartenders on orders.bartender_id = bartenders.id
where bartenders.name = 'moe'
"""

cursor.execute(moes_customers)
cursor.fetchall()
# [('bart simpson',), ('maggie simpson',)]

[('bart simpson',), ('maggie simpson',)]